extends ../layout

block content

    div
        h1 Posts
        a(href='/posts/new') New Post
        if posts && posts.length > 0
            ul
                each post in posts
                    div
                        h2= post.title
                        p= post.content
                        if user && user.membership !== 'free'
                            p= post.user.name
                        p= post.date
                        if user && user.membership === 'admin'
                            a(href='/posts/' + post.id + '/delete') Delete
