extends ../layout

block content

    .flex.flex-col.justify-center.items-center
        //- h1.text-4xl.font-bold Posts
        a(href='/posts/new' class='px-8 p-2 rounded-lg bg-blue-200 hover:bg-blue-500 transition-all font-bold hover:text-white text-blue-500') New Message
        if posts && posts.length > 0
            ul.flex.flex-col.justify-center.items-center.p-4
                each post in posts
                    .flex.flex-col.justify-center.items-center.p-8.gap-4
                        h2.text-4xl.font-bold= post.title
                        p.p-8.bg-slate-200.rounded-lg.font-medium= post.content
                        .flex.items-center.justify-center.gap-4
                            if user && user.membership !== 'free'
                                p.text-green-500.font-bold= post.user.firstName + ' ' + post.user.lastName
                            else
                                p Hidden
                            p= post.date
                            if user && user.membership === 'admin'
                                a(href='/posts/' + post.id + '/delete' class='px-4 p-1 rounded-lg bg-red-200 hover:bg-red-500 transition-all font-bold text-red-500 hover:text-white') Delete
